body{
	margin: 0;
	padding: 0;
	height: auto;
  background: white;
}
.container{
	margin: inherit;
    width: inherit;
}
.first-text{
	background: transparent;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
}
.section1{
    background: url(assets/h_img.jpg) no-repeat;

}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.section2{
    background: whitesmoke;
    height: 250px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;

}
.section3{
    height: 350px;
		text-align: center;
    background: url(assets/s_image.jpg) no-repeat;
}
.third-text{
    text-align: center;
    background: transparent;
    color: white;
}
.section4{
    background: whitesmoke;
		vertical-align:text-top;
 }

.fourth-text{
    text-align: center;
    color: black;
    font-weight: 200;
		text-align: middle;
}

.design{
	height: 100px;
	float: left;
	margin: 20px;
	padding-left: 300px;
}


.dev{
height: 100px;
float: left;
margin: 20px;
padding-left: 300px;
}

.product{
position: center;
height: 100px;
float: left;
margin: 20px;
padding-left: 300px;
}

.absolute img{
	position: relative;
}


.section5{
	height: 800px;
	text-align: center;
 }

  .section5 img{
  	height: 200px;
   }

 .fifth-text{
     text-align: center;
     color: black;
		 font-weight: 200;
 }

 .container{
 position: relative;
 margin: 50px;
 padding-left:50px;
 float: left;
	 }

.overlay{
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	background-color: grey;
}
.container:hover .overlayLeft{
opacity: 1;
}

.overlayLeft{
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
}

	#work1{
		margin: 80px;
	  padding-left:50px;
	  float: left;
	}

	#work2{
		margin: 80px;
		padding-left:80px;
		float: left;
	}

	#work3{
		margin: 80px;
		padding-left:130px;
		float: left;
	}

	#work4{
		margin: 80px;
		padding-left:160px;
		float: left;
	}

		 #work5{
 			margin: -80px;
 		  padding-left:310px;
 		  float: left;
 		}

 		#work6{
 			margin: -80px;
 			padding-left:450px;
 			float: left;
 		}

 		#work7{
 			margin: -80px;
 			padding-left:500px;
 			float: left;
 		}

 		#work8{
 			margin: -80px;
 			padding-left:480px;
 			float: left;
 		}

		.section6{
			background: url(assets/c_image.jpg) no-repeat;
			height: 400px;
			text-align: center;
		}

	.sixth-text{
	    text-align: center;
	    background: transparent;
			maco
	    color: black;
	}

.section7{
	background: url(assets/h_img.jpg) no-repeat;
	height: 700px;
	float: left;
	margin: 300%;
}

.seventh-text{
    text-align: center;
    background: transparent;
    color: black;
}
.section8{
	background: whitesmoke;
	height: 100px;
	text-align: center;
}

.eigth-text{
    text-align: center;
    background: transparent;
    color: black;
}

img{
	align-content: center;
}

form{
	background:transparent;
}

.socialicons{
	height:10px;
	margin: -5px;
	padding-left:400px;
	float: left;
}

.footer{
	height:100px;
}
